<div class="login-container">
    <div class="login-box">
      <img class="instagram-logo" src="assets/images/logo.png" alt="Instagram Logo" >
      
      <form>
        <div class="input-field">
          <input type="text" placeholder="Phone number, username, or email" class="input-button" required  />
        </div>

        <div class="input-field">
          <input type="password" placeholder="Password" class="input-button" required />
        </div>

        <div class="submit-button">
          <button type="submit" >Log In</button>
        </div>
        
      </form>
  
      <div class="divider">
        <div class="line"></div>
        <span>OR</span>
        <div class="line"></div>
      </div>
  
      <div class="social-login">
        <a href="#"><i class="fa fa-facebook"></i>Log in with Facebook</a>
      </div><br>
  
      <a href="#" class="forgot-password">Forgot password?</a>
    </div>
  
    <div class="signup-box">
      <p>Don't have an account? <a href="#">Sign up</a></p>
    </div>
  
    <div class="get-app">
      <p>Get the app.</p>
      <div class="app-store-links">
        <img src="assets/images/play.png" alt="App Store" class="app-store-links">
      </div>
    </div>
  </div>
  